name: Real Project CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        working-directory: dotnet_app
        run: dotnet restore

      - name: Build
        working-directory: dotnet_app
        run: dotnet build --no-restore -c Release

      - name: Test
        working-directory: dotnet_app
        run: dotnet test --no-build -c Release
